<!-- ======== ABOUT SECTION ======== -->
<div id="about" class="section about-section">

    <div class="header1">
        <img src="self_portrait.jpg">
    </div>
    <div class="header2">
    </div>

    <div class="sidebar">
        <div class="tech-container">
            <div class="tech-list-side">
                <h3>Skills</h3>
                <img src="HTML5_logo.png"><img src="CSS3_logo.png">
                <img src="JS_logo.png"><img src="Nodejs_logo.png">
                <img src="MongoDB_logo.png"><img src="bootstrap_logo.png">
                <img src="jQuery_logo.png"><img src="git_logo.png">
            </div>
        </div>
        <div class="card-container">
            <div class="card-content">
                <i id="card-icon" class="fas fa-globe"></i>
                <div class="card-title">
                    <div>Kanye West</div>
                    <div>{ webDeveloper }</div>
                    <hr>
                </div>
                <div class="card-contact-info">
                    <div><i class="fas fa-phone"></i>512.321.4567</div>
                    <div><i class="far fa-envelope"></i>First_Lastname@gmail.com</div>
                    <div><i class="fas fa-desktop"></i>www.MyPortfolioPage.com</div>
                </div>
            </div>
        </div>   
    </div>

    <div class="body">
        <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing.</div>
        
        <div class="values-container-grid">
            <div id="grid1" class="value-container">
                <div class="absolute">
                    <div id="grid1-content" class="grid-content-container">
                        <h4 id="grid1-title">Accountability</h4>
                        <p id="grid1-summary" class="height-zero hidden">Lorem ipsum dlor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
                        <i id="grid1-icon" class="fas fa-users"></i>
                    </div>
                </div>
            </div>
            <div id="grid2" class="value-container">
                <div class="absolute">
                    <div id="grid2-content" class="grid-content-container">
                        <h4 id="grid2-title">Efficiency</h4>
                        <p id="grid2-summary" class="height-zero hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
                        <i id="grid2-icon" class="fas fa-tachometer-alt"></i>
                    </div>
                </div>
            </div>
            <div id="grid3" class="value-container">
                <div class="absolute">
                    <div id="grid3-content" class="grid-content-container">
                        <p id="grid3-summary" class="height-zero hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
                        <i id="grid3-icon" class="far fa-comments"></i>
                        <h4 id="grid3-title">Communication</h4>
                    </div>
                </div>
            </div>
            <div id="grid4" class="value-container">
                <div class="absolute">
                    <div id="grid4-content" class="grid-content-container">
                        <p id="grid4-summary" class="height-zero hidden">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
                        <i id="grid4-icon" class="fas fa-user-tie"></i>
                        <h4 id="grid4-title">Professionalism</h4>
                    </div>
                </div>
            </div>
            <div id="grid-center">
                <h3 id="core-text">CORE Values</h3>
            </div>  
        </div>

        <div class="values-container-flex">
            <div id="flex-title" class="flex-value-container"><h3>Core Values</h3></div>
            
            <div id="flex1" class="flex-value-container">
                <div class="icon-container">
                    <i id="flex1-icon" class="fas fa-users"></i>
                </div>
                <h4 id="flex1-title">Accountability</h4>
                <p id="flex1-summary" class="hidden height-zero">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
            </div>
            <div id="flex2" class="flex-value-container">
                <div class="icon-container">
                    <i id="flex2-icon" class="fas fa-tachometer-alt"></i>
                </div>
                <h4 id="flex2-title">Efficiency</h4>
                <p id="flex2-summary" class="hidden height-zero">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
            </div>
            <div id="flex3" class="flex-value-container">
                <div class="icon-container">
                    <i id="flex3-icon" class="far fa-comments"></i>
                </div>
                <h4 id="flex3-title">Communication</h4>
                <p id="flex3-summary" class="hidden height-zero">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
            </div>
            <div id="flex4" class="flex-value-container">
                <div class="icon-container">
                    <i id="flex4-icon" class="fas fa-user-tie"></i>
                </div>
                <h4 id="flex4-title">Professionalism</h4>
                <p id="flex4-summary" class="hidden height-zero">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</p>
            </div>
        </div>

        <div class="tech-container-body">
            <div class="tech-list-side">
                <h3>Skills</h3>
                <img src="HTML5_logo.png"><img src="CSS3_logo.png">
                <img src="JS_logo.png"><img src="Nodejs_logo.png">
                <img src="MongoDB_logo.png"><img src="bootstrap_logo.png">
                <img src="jQuery_logo.png"><img src="git_logo.png">
            </div>
        </div>

    </div>

    <!-- <div class="footer1">
    </div>
    <div class="footer2">
    </div> -->

</div>