<!-- ======== ABOUT SECTION ======== -->
<div id="about" class="about-section red-border">

    <div class="header1 orange-border">
        <img src="self_portrait.jpg">

    </div>

    <div class="header2 red-border">
    </div>

    <div class="sidebar orange-border">
        <h3>Known Tech</h1>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>jQuery</li>
                <li>Node.js</li>
                <li>Express</li>
                <li>MongoDB</li>
            </ul>
    </div>

    <div class="body orange-border">
        <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minus iusto rerum ut deleniti suscipit autem, ipsum hic pariatur atque vero? Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!</div>
        <div class="values-container">
            <div class="value1 red-border">Value One</div>
            <div class="value2 red-border">Value Two</div>
            <div class="value3 red-border">Value Three</div>
            <div class="value4 red-border">Value Four</div>

        </div>
        
    
    </div>






</div>