<!-- ======== ABOUT SECTION ======== -->
<div id="about" class="about-section red-border">

    <div class="header1 orange-border">
        <img src="self_portrait.jpg">

    </div>

    <div class="header2 red-border">
    </div>

    <div class="sidebar orange-border">
        <div class="card-container">
            <div class="card-content">
                <div style="margin-top: 10px; font-size: 20pt; font-weight: 700">Kanye West</div>
                <div>Web Developer</div>
                <hr style="width: 80px; border-bottom: 1px solid black">
                <div style="margin-top: 30px; font-size:10pt">kanye.west1@gmail.com  |  (512) 123-4567</div>
            </div>
        </div>
        
        
        <div class="tech-container">
            <h3>Known Tech</h3>
                <div class="tech-list">
                    <img src="HTML5_logo.png"><img src="CSS3_logo.png">
                    <img src="JS_logo.png"><img src="bootstrap_logo.png">
                    <img src="Nodejs_logo.png"><img src="MongoDB_logo.png">
                    <img src="git_logo.png"><img src="jQuery_logo.png">
                </div>
        </div>
        
    </div>

    <div class="body orange-border">
        <div class="summary red-border">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate minus iusto rerum ut deleniti suscipit autem, ipsum hic pariatur atque vero? Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam!Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        <div class="values-container orange-border">
            <div id="value1" class="value-container red-border">Value One</div>
            <div id="value2" class="value-container red-border">Value Two</div>
            <div id="value3" class="value-container red-border">Value Three</div>
            <div id="value4" class="value-container red-border">Value Four</div>
        </div>
        
    
    </div>






</div>