<!-- ======== ABOUT SECTION ======== -->
<div id="about" class="about-section">

    <div class="header1">
        <img src="self_portrait.jpg">

    </div>

    <div class="header2">
    </div>

    <div class="sidebar">
        <div class="card-container">
            <div class="card-content">
                <div style="margin-top: 10px; font-size: 20pt; font-family: 'Ruda', sans-serif; font-weight: 700">Kanye West</div>
                <div><span style="color:red; font-size: 16pt;">{ </span> webDeveloper <span style="color:red;font-size: 16pt"> }</span></div>
                <hr style="width: 80px; border-bottom: 1px solid black">
                <div style="margin-top: 20px">
                    <a style="font-size:10pt; font-weight: 400" href="kanye.west1@gmail.com">kanye.west1@gmail.com</a>
                    <div style="font-size:10pt">(512) 123-4567</div>
                </div>
            </div>
        </div>
        
        
        <div class="tech-container">
            <h3>Profecient Skills</h3>
                <div class="tech-list">
                    <img src="HTML5_logo.png"><img src="CSS3_logo.png">
                    <img src="JS_logo.png"><img src="bootstrap_logo.png">
                    <img src="Nodejs_logo.png"><img src="MongoDB_logo.png">
                    <img src="git_logo.png"><img src="jQuery_logo.png">
                </div>
        </div>
        
    </div>

    <div class="body">
        <div class="summary">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti libero laudantium nihil maxime obcaecati alias facere quisquam! Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
        
        <div class="values-container-grid">
            <div id="value1" class="value-container">
                <div class="absolute">
                    <div class="value-content-top">
                        <h4>Accountability</h4>
                        <i class="fas fa-users" style="color:dodgerblue"></i>
                    </div>
                </div>
            </div>
            <div id="value2" class="value-container">
                <div class="absolute">
                    <div class="value-content-top">
                        <h4>Value</h4>
                        <i class="fas fa-search-dollar" style="color:firebrick"></i>
                    </div>
                </div>
            </div>
            <div id="value3" class="value-container">
                <div class="absolute">
                    <div class="value-content-bottom">
                            <i class="far fa-comments" style="color:forestgreen"></i>
                        <h4>Communication</h4>
                    </div>
                </div>
            </div>
            <div id="value4" class="value-container">
                <div class="absolute">
                    <div class="value-content-bottom">
                            <i class="fas fa-user-tie" style="color:darkgoldenrod"></i>
                        <h4>Professionalism</h4>
                    </div>
                </div>
            </div>
        </div>
        
    
    </div>






</div>