
<!-- ====== CONTACT SECTION ====== -->

<div id="container-contact-section" class="section-contact">
    
    <div id="container-h2">
        <h2>Contact</h2>
        <hr>
    </div>

    <div id="contact-container-paragraph">
        <p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit?</strong></p>
    </div>
            <div id="contact-container-form">
                <form action="/" method="POST">
                        <input type="text" name="name" placeholder="Name">
                        <p><%= errors %></p>
                        <input type="email" name="email" placeholder="Email">
                        <textarea name="message" placeholder="Your message..."></textarea>
                        <button class="float-right">Send</button>
                </form>
            </div>
</div>

<!-- <script type="text/javascript" src="/scripts/contact.js"></script> -->

