<!-- ====== FOOTER SECTION ====== -->

<div id="container-footer-section" class="section-footer">
    
    <a href="#landing">
        <div class="container_upArrowIcon">
            <i id="upArrowIcon" class="fas fa-chevron-circle-up"></i>
        </div>
    </a>
    <div class="container-icons">
        <a href="https://github.com/Optimo1983">
            <div class="footer-icon">
                <i class="fab fa-github icon"></i>
            </div>
        </a>
        <a href="https://www.linkedin.com/in/justin-schiller-8b5208aa">
            <div class="footer-icon">
                <i class="fab fa-linkedin-in icon"></i>
            </div>
        </a>
        <a href="https://trello.com/b/Bdk1TmwV">
            <div class="footer-icon"></i>
                <i class="fab fa-trello"></i>
            </div>
        </a>
        <a href="/">
            <div class="footer-icon">
                <i class="far fa-file-alt"></i>
            </div>
        </a>

    </div>
</div>

<script src="..\scripts\scrolling.js"></script>
<script src="..\scripts\landing.js"></script>
<script src="..\scripts\navigation.js"></script>
<script src="..\scripts\nav-mobile-menu.js"></script>
<script src="..\scripts\projects.js"></script>
<script src="..\scripts\about.js"></script>
<script src="..\scripts\nav-highlights.js"></script>
</div>  <!--  end main wrapper -->
</body>
</html>