<!-- ====== FOOTER SECTION ====== -->

<script src="..\scripts\scrolling.js"></script>
<script src="..\scripts\landing.js"></script>
<script src="..\scripts\navigation.js"></script>
<script src="..\scripts\nav-mobile-menu.js"></script>
<script src="..\scripts\projects.js"></script>
<script src="..\scripts\about.js"></script>
<script src="..\scripts\nav-highlights.js"></script>
</div>  <!--  end main wrapper -->
</body>
</html>