
<div class="body section-landing">
    <div class="main-wrapper">
        <div class="landing-content">
            <p class="text">Hello, I'm <span>Firstname Lastname</span>.<br>
            I am a full stack web developer.
            </p>
        </div>
    </div>
</div>
