
<div class="section-landing">

    <div class="landing-background-picture">
        <picture>
            <source media="(max-width: 860px)" srcset="../keyboard640.jpg">
            <source media="(max-width: 1280px)" srcset="../keyboard1280.jpg">
            <source media="(max-width: 1920px)" srcset="../keyboard1920.jpg">
            <img src="../keyboard.jpg">
        </picture>
    </div>

    <div class="landing-background-picture-overlay"></div>

    <div class="main-wrapper">
        <div class="landing-content">
            <p>Hello, I'm <span>Kanye West</span>.<br>I am a full stack web developer.
            </p>
        </div>
    </div>

</div>
