<!-- ======= LANDING SECTION ======= -->
<div class="main-wrapper">
    <div class="paper">
        <div id="landing" class="section">
            <div id="landing-grid">
            </div>
            <a href="#projects">
                <div id="landing-button">
                    See my work <i id="landing-button-icon" class="fas fa-arrow-down"></i>
                </div>
            </a>
        </div>

