<!-- ======= LANDING SECTION ======= -->
<div class="main-wrapper">
    <div class="paper">
        <div id="landing" class="section">
            <!-- <div class="landing-background-picture">
                <picture>
                    <source media="(max-width: 860px)" srcset="../keyboard640.jpg">
                    <source media="(max-width: 1280px)" srcset="../keyboard1280.jpg">
                    <source media="(max-width: 1920px)" srcset="../keyboard1920.jpg">
                    <img src="../keybpard.jpg">
                </picture>
            </div> -->
            <!-- <div class="landing-background-picture-overlay"></div> -->
                <div class="landing-content">
                    <p>Portfolio</p>
                    <a href="#about"><div class="landing-button">View my work<i class="fas fa-chevron-circle-right"></i></div></a>
                </div>
        </div>

