
<div id='nav-mobile-menu-container' class="no-display">
    <ul id="nav-mobile-menu-list">
        <li class="nav-mobile-menu-list-item"><a href="#landing"><div>Home</div></a></li>
        <li class="nav-mobile-menu-list-item"><a href="#about"><div>Me</div></a></li>
        <li class="nav-mobile-menu-list-item"><a href="#projects"><div>Work</div></a></li>
        <li class="nav-mobile-menu-list-item"><a href="#container-contact-section"><div>Contact</div></a></li>
      </ul>
</div>
