<nav>
  <div id="navigation" class="main-wrapper nav-content">
      <a href="#top"><div class="logo"><img src="https://fontmeme.com/permalink/190512/7600f3f9e59e3cdd2400f3f32e26fe3e.png"></div></a>
    

    <ul>
      <li><a id="nav-link-home" class="active" href="#top">Home</a></li>
      <li><a id="nav-link-work" href="#projects">Work</a></li>
      <li><a id="nav-link-me" href="#about">Me</a></li>
      <li><a id="nav-link-contact" href="#container-contact-section">Contact</a></li>
      <li><a id="nav-link-resume" href="/">Resume</a></li>
    </ul>
    <div id="hamburger">
      <i id="hamburger-icon" class="fas fa-bars fa-2x"></i>
    </div>


  </div>
</nav>
