<nav>
  <div id="navigation" class="main-wrapper nav-content">
      <a href="#section-landing"><div class="logo"><i class="fas fa-globe"></i></div></a>
    

    <ul>
      <li><a id="nav-link-home" class="active" href="#landing">Home</a></li>
      <li><a id="nav-link-work" href="#projects">Work</a></li>
      <li><a id="nav-link-me" href="#about">Me</a></li>
      <li><a id="nav-link-contact" href="#container-contact-section">Contact</a></li>
      <li><a id="nav-link-contact" href="/">Resume</a></li>
    </ul>
    <div id="hamburger">
      <i id="hamburger-icon" class="fas fa-bars fa-2x"></i>
    </div>


  </div>
</nav>
