<nav>
  <div id="navigation" class="main-wrapper nav-content">
      <a href="#section-landing"><div class="logo">J</div></a>
    

    <ul>
      <li><a href="#landing">Home</a></li>
      <li><a href="#about">Me</a></li>
      <li><a href="#projects">Work</a></li>
      <li><a href="#container-contact-section">Contact</a></li>
    </ul>
    <div id="hamburger">
      <i id="hamburger-icon" class="fas fa-bars fa-2x"></i>
    </div>


  </div>
</nav>
