<!-- ====== PROJECTS SECTION ====== -->

<div id="projects" class="body project-section">

    <div id="container-h2" class="">
        <h2>Projects</h2>
        <hr>
    </div>

    <div class="gallery-box">
        
            <a href="/" id="project-box1" class="project-box">
                <img id="thumb1" src="testImage1.jpg">
                <h3 id="title1">Project Title</h3>
                <p id="date1">March, 19, 2019</p>
                <hr id="hr1">
                <p id="summary1">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Nihil error eius nisi mollitia sed nostrum unde natus quae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Rem quas nemo distinctio ipsam, exercitationem beatae voluptas cum, aliquid qui sequi.
                </p> 
            </a>

            <a href="/" id="project-box2" class="project-box">
                <img id="thumb2" src="testImage2.jpg">
                <h3 id="title2">Project Title</h3>
                <p id="date2">March, 19, 2019</p>
                <hr id="hr2">
                <p id="summary2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Nihil error eius nisi mollitia sed nostrum unde natus quae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Rem quas nemo distinctio ipsam, exercitationem beatae voluptas cum, aliquid qui sequi.
                </p> 
            </a>

            <a href="/" id="project-box3" class="project-box">
                <img id="thumb3" src="testImage3.jpg">
                <h3 id="title3">Project Title</h3>
                <p id="date3">March, 19, 2019</p>
                <hr id="hr3">
                <p id="summary3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Nihil error eius nisi mollitia sed nostrum unde natus quae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Rem quas nemo distinctio ipsam, exercitationem beatae voluptas cum, aliquid qui sequi.
                </p> 
            </a>

</div>

