<!-- ====== PROJECTS SECTION ====== -->

<div id="projects" class="section body project-section">

    <div class="title-container orange-border">
        <h2>Work</h2>
        <hr>
    </div>

    <div class="gallery-box orange-border">
        <div id="project-box1" class="project-box red-border">
            <div class="thumb-container">
                <img id="thumb1" src="testImage1.jpg">
            </div>    
            <div id="project-meta-info1" class="project-meta-info">
                <h3 id="title1">Project Title</h3>
                <p id="date1">March, 19, 2019</p>
                <hr id="hr1">
                <p id="summary1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil error eius nisi mollitia sed nostrum unde natus quae.
                </p> 
            </div>
        </div>

        <div id="project-box2" class="project-box orange-border">
            <div class="thumb-container">
                <img id="thumb2" src="testImage2.jpg">
            </div>
            <div id="project-meta-info2" class="project-meta-info">
                <h3 id="title2">Project Title</h3>
                <p id="date2">March, 19, 2019</p>
                <hr id="hr2">
                <p id="summary2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil error eius nisi mollitia sed nostrum unde natus quae.
                </p> 
            </div>
        </div>

        <div id="project-box3" class="project-box red-border">
            <div class="thumb-container">
                <img id="thumb3" src="testImage3.jpg">
            </div>
            <div id="project-meta-info3" class="project-meta-info">
                <h3 id="title3">Project Title</h3>
                <p id="date3">March, 19, 2019</p>
                <hr id="hr3">
                <p id="summary3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil error eius nisi mollitia sed nostrum unde natus quae.
                </p>
            </div>
        </div>

        <div id="pencil-container">
            <img src="pencil_cropped.png">
        </div>

        <div id="coffee-stain-container">
            <img src="cup-coffee-stain-5.png">
        </div>

    </div>

    <!-- The Modals -->
    <div id="modal1" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <img src="testImage1.jpg">
            <div class="modal-meta-info">
                <h2>Project Title</h2>
                <h4>Tech / Tech / Tech</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi repellat doloribus tempora officia nihil quas, et assumenda odit quos quo quasi provident enim perspiciatis eum minima ab molestiae mollitia! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, eum eos? Architecto doloribus, unde quae recusandae hic ratione.</p>
                <a id="modal-button1" href="/">View Site <i id="view-site-icon1" class="fas fa-external-link-alt"></i></a>
                <i class="far fa-window-close close"></i>
            </div>
        </div>
    </div>

    <div id="modal2" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <img src="testImage2.jpg">
            <div class="modal-meta-info">
                <h2>Project Title</h2>
                <h4>Tech / Tech / Tech</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi repellat doloribus tempora officia nihil quas, et assumenda odit quos quo quasi provident enim perspiciatis eum minima ab molestiae mollitia! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, eum eos? Architecto doloribus, unde quae recusandae hic ratione.</p>
                <a id="modal-button2" href="/">View Site <i id="view-site-icon2" class="fas fa-external-link-alt"></i></a>
                <i class="far fa-window-close close"></i>
            </div>
        </div>
    </div>

    <div id="modal3" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <img src="testImage3.jpg">
            <div class="modal-meta-info">
                <h2>Project Title</h2>
                <h4>Tech / Tech / Tech</h4>
                <hr>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt animi repellat doloribus tempora officia nihil quas, et assumenda odit quos quo quasi provident enim perspiciatis eum minima ab molestiae mollitia! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ducimus, eum eos? Architecto doloribus, unde quae recusandae hic ratione.</p>
                <a id="modal-button3" href="/">View Site <i id="view-site-icon3" class="fas fa-external-link-alt"></i></a>
                <i class="far fa-window-close close"></i>
            </div>
        </div>
    </div>
</div>

