<!-- ====== PROJECTS SECTION ====== -->

<div id="project-section-container" class="project-section">

    <div id="container-h2" class="">
        <h2>Projects</h2>
        <hr>
    </div>


    <!-- <div class="test-gallery-box orange-border">
         <div class="test-project-box red-border">
            <img src="testImage1.jpg">
        </div>
    </div> -->

    <div class="gallery-box">

            <div class="project-box">
                <img src="testImage2.jpg">
            </div>

            <div class="project-box">
                <img src="trueCostThumb1.jpg">
            </div>

            <div class="project-box">
                <img src="trueCostThumb2.jpg">
            </div>

</div>