<!-- ====== PROJECTS SECTION ====== -->

<div id="project-section" class="orange-border">

    <div id="container-h2" class="red-border">
        <h2>Projects</h2>
        <hr>
    </div>
    
    <div id="container-gallery" class="orange-border">
        <div id="container-project1" >

        </div>
        <div id="container-project2" >
            
        </div>
        <div id="container-project3" >
            
        </div>
    </div>



</div>