<!-- ====== PROJECTS SECTION ====== -->

<div id="projects" class="body project-section">

    <div id="container-h2" class="">
        <h2>Projects</h2>
        <hr>
    </div>

    <div class="gallery-box">
        
            <a href="/" id="project-box1" class="project-box">
                <img id="thumb1" src="testImage1.jpg">
                <h3 id="title1">Project Title</h3>
                <p id="date1">March, 19, 2019</p>
                <hr id="hr1">
                <p id="summary1">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Nihil error eius nisi mollitia sed nostrum unde natus quae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Rem quas nemo distinctio ipsam, exercitationem beatae voluptas cum, aliquid qui sequi.
                </p> 
            </a>

            <a href="/" id="project-box2" class="project-box">
                <img id="thumb2" src="testImage2.jpg">
                <h3 id="title2">Project Title</h3>
                <p id="date2">March, 19, 2019</p>
                <hr id="hr2">
                <p id="summary2">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Nihil error eius nisi mollitia sed nostrum unde natus quae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Rem quas nemo distinctio ipsam, exercitationem beatae voluptas cum, aliquid qui sequi.
                </p> 
            </a>

            <a href="/" id="project-box3" class="project-box">
                <img id="thumb3" src="testImage3.jpg">
                <h3 id="title3">Project Title</h3>
                <p id="date3">March, 19, 2019</p>
                <hr id="hr3">
                <p id="summary3">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                Nihil error eius nisi mollitia sed nostrum unde natus quae. Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                Rem quas nemo distinctio ipsam, exercitationem beatae voluptas cum, aliquid qui sequi.
                </p> 
            </a>

</div>

<script>
    let projectBox1 = document.getElementById("project-box1");
    let projectBox2 = document.getElementById("project-box2");
    let projectBox3 = document.getElementById("project-box3");
    let title1 = document.getElementById("title1");
    let title2 = document.getElementById("title2");
    let title3 = document.getElementById("title3");


    projectBox1.addEventListener("mouseover", function(){
        projectBox2.style.opacity = ".35";
        projectBox3.style.opacity = ".35";
        title1.style.color = "steelblue";
        
    });
    projectBox1.addEventListener("mouseout", function(){
        projectBox2.style.opacity = "1";
        projectBox3.style.opacity = "1";
        title1.style.color = "white";
    });

    projectBox2.addEventListener("mouseover", function(){
        projectBox1.style.opacity = ".35";
        projectBox3.style.opacity = ".35";
        title2.style.color = "steelblue";
    });
    projectBox2.addEventListener("mouseout", function(){
        projectBox1.style.opacity = "1";
        projectBox3.style.opacity = "1";
        title2.style.color = "white";
    });

    projectBox3.addEventListener("mouseover", function(){
        projectBox1.style.opacity = ".35";
        projectBox2.style.opacity = ".35";
        title3.style.color = "steelblue";
    });
    projectBox3.addEventListener("mouseout", function(){
        projectBox1.style.opacity = "1";
        projectBox2.style.opacity = "1";
        title3.style.color = "white";
    });

</script>

