<!-- ====== PROJECTS SECTION ====== -->

<div id="project-section-container" class="project-section">

    <div id="container-h2" class="red-border">
        <h2>Projects</h2>
        <hr>
    </div>

    <div class="gallery-box orange-border">

            <div class="project-box red-border">
                <img src="trueCostThumb1.jpg">
            </div>

            <div class="project-box red-border">
                <img src="trueCostThumb1.jpg">
            </div>

            <div class="project-box red-border">
                <img src="trueCostThumb1.jpg">
            </div>

</div>