@media screen and (min-width:860px) {
  .about-section {
    display: grid;
    grid-template-rows: 130px auto;
    grid-template-columns: minmax(300px, 30%) 1fr;
    padding-top: 70px;
    padding-bottom: 40px;
  }
}
@media screen and (max-width:860px) {
  .about-section {
    display: grid;
    grid-template-rows: 90px auto;
    grid-template-columns: 170px 1fr;
    padding-top: 70px;

  }
}
@media screen and (max-width:719px) {
  .about-section {
    display: grid;
    grid-template-rows: 120px auto;
    grid-template-columns: 100%;
    padding-top: 70px;
  }
}

/* ========= HEADER CONTAINERS ========== */

.about-section .header1 {
  position: relative;
  background-color: #9BB4CA;
}

@media screen and (min-width:860px) {
  .header1 img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 30px;
    margin-bottom: -90px;
    max-width: 180px;
    border-radius: 50%;
    display: block;
    border: 8px solid whitesmoke;
    z-index: 1;

  }
}
@media screen and (max-width:860px) {
  .header1 img {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: -59px;
    max-width: 118px;
    border-radius: 50%;
    display: block;
    border: 6px solid whitesmoke;
    z-index: 1;

  }
}

.about-section .header2 {
  background-color: #9BB4CA;
}


/* ========= SIDEBAR CONTAINERS ========== */

.about-section .sidebar {
  position: relative;
  background-image: url("../backgrounds/paper_fibers.png");
  padding: 20px 0 0px 40px;
}

#smartphone-container {
  position: absolute;
  bottom: 200;
  left: 0;
  margin-left: -260px;
  transform: rotate(3deg);
  z-index: 2;
}

@media screen and (max-width: 1023px) {
  #smartphone-container {
    display: none;
  }
}

#smartphone {
  height: 450px;
}

#smartphone-shadow-1 {
  position: absolute;
  bottom: 20;
  left: 15;
  background-color: red;
  width: 190px;
  height: 10px;
  box-shadow: 0px 15px 12px 7px rgba(0,0,0,0.6);
  z-index: -1;
}

#smartphone-shadow-2 {
  position: absolute;
  bottom: 20;
  left: 20;
  background-color: red;
  width: 10px;
  height: 400px;
  box-shadow: -15px 0px 12px 5px rgba(0,0,0,0.6);
  z-index: -1;

}

.sidebar .card-container {
  position: absolute;
  right: -20;
  top: 90;
  background-image: url("../backgrounds/light_noise_diagonal.png");
  height: 162px;
  width: 306px;
  transform: rotate(-5deg);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 12px;
  z-index: 2;
}

.card-container:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  transform: rotate(0deg);

}

.card-container .card-content {
  overflow: hidden;
  position: relative;
  border: 8px double #9BB4CA;
  width: 94%;
  height: 90%;
  margin: auto auto;
  background-image: url("../backgrounds/random_grey_variations.png");
}

.card-content img {
  position: absolute;
  left: 20;
  top: 50%;
  margin-top: -25px;
}

#card-icon {
  position: absolute;
  left: -75;
  bottom: -2;
  margin-left: 2px;
  font-size: 150px;
  color: #FFFFFF;
  opacity: .8;
}

.card-title {
  position: absolute;
  right: 9%;
  top: 5;
  text-align: center;
}

.card-title div:nth-of-type(1) {
  position: relative;
  font-size: 22pt;
  color: #5A90BF;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
}
.card-title div:nth-of-type(2) {
  position: relative;
  color: #FFFFFF;
  font-weight: 400;
}

.card-title hr {
  position: relative;
  width: 80px;
  background-color: #FFFFFF;
  border: none;
  height: 1px;
}

.card-contact-info {
  position: absolute;
  right: 10;
  bottom: 5;
  text-align: right;
  color: #FFFFFF;
  font-size: 8pt;
  line-height: 11pt;
}

.card-contact-info div {
  font-size: 9pt;
}

.card-contact-info i{
  color: #91CCFF;
  font-size: 8pt;
  padding-right: 5px;
}


.tech-container {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  top: 285;
  max-width: 260px;
}

@media screen and (max-width:860px) {
  .tech-container {
    right: 0;
    top: 20;  
    max-width: 130px;

  }
}

.tech-list-side {
  background-image: url("../backgrounds/paper_fibers.png");
  padding-bottom: 20px;
  padding-top: 20px;
  border: 2px solid #595956;
  border-radius: 20px 20px 20px 20px;
  font-size: 20pt;
  text-align: center;
}

.tech-list-side h3 {
  margin: 0 0 10px 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24pt;
  color: #595956;
}

@media screen and (min-width:860px) {
  .tech-list-side img {
    width: 90px;
    padding: 15px 15px 15px 15px;
  }
}
@media screen and (max-width:860px) {
  .card-container {
    display: none;
  }

  .tech-container {
    margin-top: 65px;
  }

  .tech-list-side {
    border: 2px solid #595956;
  }

  .tech-list-side h3{
    font-size: 20pt;
  }
  
  .tech-list-side img {
    width: 65px;
    padding: 10px 10px 10px 10px;
  }
}

.tech-list-side li:nth-last-of-type(1){
  padding-bottom: 0;
}

/* ========= BODY CONTAINERS ========== */

.about-section .body {
  padding: 40px;
  background-image: url("../backgrounds/paper_fibers.png");
}

.about-section .summary {
  max-width: 700px;
  margin: 0px auto 0 auto;
  text-align: center;
  font-size: 14pt;
  font-weight: 400;
}


/* ========= (BODY) GRID ========== */

@media screen and (min-width:860px) {
  .about-section .values-container-flex {
    display: none;
  }

  .tech-container-body {
    display: none;
  }

  .about-section .values-container-grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 40px auto 0 auto;
    max-width: 575px;
  }

  .values-container-grid .value-container {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

}

.grid-content-container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.grid-content-container i {
  position: absolute;
  font-size: 120px;
  left: 50%;
  top: 50%;
  margin-top: -60px;
  transition: visability 0s, opacity 0.25s linear;
}

.grid-content-container h4 {
  font-weight: 400;
  font-size: 18pt;
  margin: 0;
  color: #595956;
}

.values-container-grid p {
  font-size: 14pt;
  margin: 20px;

}

@media screen and (max-width:1100px) {
  .values-container-grid p {
    font-size: 12pt;
  }
}

/* ========= (BODY) GRID 1 ========== */
#grid1 {
  position: relative;
  grid-area: 1 / 1 / 3 / 3;
  margin-left: auto;
  background-image: url("../backgrounds/paper_fibers.png");
  clip-path: polygon(0 0, 100% 0, 100% 60%, 60% 100%, 0 100%);
  border-right: 2px solid #595956;
  border-bottom: 2px solid #595956;
  z-index: 2;
}

#grid1-content h4 {
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -72px;
}

#grid1-content i {
  margin-left: -75px;
  margin-top: -60px;
  color:#5A90BF;
}

#grid1-content p {
  position: absolute;
  top: 18%;
  text-align: left;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.5s linear;
}

/* ========= (BODY) GRID 2 ========== */
#grid2 {
  grid-area: 1 / 3 / 3 / 5;
  background-image: url("../backgrounds/paper_fibers.png");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 0 60%);
  border-left: 2px solid #595956;
  border-bottom: 2px solid #595956;
  z-index: 2;
}

#grid2-content h4 {
  position: absolute;
  top: 8%;
  left: 50%;
  margin-left: -48px;
}

#grid2-content i {

  margin-left: -67.5px;
  color: #5A90BF;
}

#grid2-content p {
  position: absolute;
  top: 18%;
  text-align: right;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.5s linear;
}

/* ========= (BODY) GRID 3 ========== */
#grid3 {
  grid-area: 3 / 1 / 5 / 3;
  background-image: url("../backgrounds/paper_fibers.png");
  clip-path: polygon(60% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
  border-top: 2px solid #595956;
  border-right: 2px solid #595956;
  z-index: 2;
}

#grid3-content h4 {
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-left: -81px;
}

#grid3-content i {
  margin-left: -67.5px;
  color: #5A90BF;
}

#grid3-content p {
  position: absolute;
  bottom: 18%;
  text-align: left;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.5s linear;
}

/* ========= (BODY) GRID 4 ========== */
#grid4 {
  grid-area: 3 / 3 / 5 / 5;
  background-image: url("../backgrounds/paper_fibers.png");
  clip-path: polygon(40% 0, 100% 0, 100% 100%, 0 100%, 0 40%);
  border-left: 2px solid #595956;
  border-top: 2px solid #595956;
  z-index: 2;
}

#grid4-content h4 {
  position: absolute;
  bottom: 8%;
  left: 50%;
  margin-left: -80px;
}

#grid4-content i {
  margin-left: -52.5px;
  color: #5A90BF;
}

#grid4-content p {
  position: absolute;
  bottom: 18%;
  text-align: right;
  font-weight: 400;
  opacity: 0;
  transition: opacity 0.5s linear;
}

/* ========= (BODY) CENTER ========== */
#grid-center {
  position: relative;
  grid-area: 2 / 2 / 4 / 4;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color:#595956;
  text-align: center;
}

#grid-center h3 {
  position: absolute;
  display: inline-block;
  margin: 0;
  top: 50%;
  left: 50%;
  font-size: 28pt;
  width: 170px;
  height: 80px;
  margin-left: -85px;
  margin-top: -50px;
  font-weight: 700;
  color: whitesmoke;
}

@media screen and (max-width:1023px) {
  #grid-center h3 {
    top: 50%;
    width: 150px;
    margin-left: -75px;
    margin-top: -55px;
  }
}

/* ========= (BODY) FLEX ========== */

@media screen and (max-width:960px) {
  .about-section .values-container-grid {
    display: none;
  }

  .tech-container-body {
    display: none;
  }

  .about-section .values-container-flex {
    display: flex;
    margin: 25px auto 0 auto;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  .flex-value-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 100px;
  }

  #flex-title h3 {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-size: 24pt;
    font-weight: 700;
    margin-bottom: 10px;
    color: #595956;
  }

  .flex-value-container .icon-button {
    margin-left: 5%;
    border: 1px solid rgb(89, 89, 86);
    text-align: center;
    padding: 10px 10px 12px 10px;
    border-radius: 40px;
    background-color: #5A90BF;
    cursor: pointer;
    transition: background-color ease .5s;
  }

  .icon-button i {
    display: inline-block;
    font-size: 40px;
    width: 50px !important;
    transition: transform 0.35s linear;
    color: #FFF;
  }

  .values-container-flex h4 {
    display: inline-block;
    margin-left: 28px;
    font-size: 18pt;
    font-weight: 400;
    opacity: 1;
    transition: visability 0s, opacity 0.5s linear;
    color: #595956;
  }
  
  .values-container-flex p {
    display: inline-block;
    font-weight: 400;
    font-size: 11pt;
    overflow: hidden;
    margin: 0;
    margin-left: 5%;
    padding-right: 10px;
    opacity: 0;
    transition: visability 0s, opacity 0.5s linear;
  }

/* ========= (BODY) FLEX 1 ========== */

  #flex-title {
    min-height: 50px;
  }   

  #flex1 {
    border: 2px solid #595956;
    border-left: 2px solid #595956;
    border-top: 2px solid #595956;
    border-right: 2px solid #595956;
    border-bottom: 2px solid #595956;
    border-radius: 40px 20px 0px 40px;
  }

/* ========= (BODY) FLEX 2 ========== */

  #flex2 {
    border: 2px solid #595956;
    border-left: 2px solid #595956;
    border-top: none;
    border-right: 2px solid #595956;
    border-radius: 40px 0px 0px 40px;
  }

  /* ========= (BODY) FLEX 3 ========== */

  #flex3 {
    border: 2px solid #595956;
    border-left:2px solid #595956;;
    border-top:none;
    border-right:2px solid #595956;;
    border-radius: 40px 0px 0px 40px;
  }

  /* ========= (BODY) FLEX 4 ========== */

  #flex4 {
    border: 2px solid #595956;
    border-left: 2px solid #595956;
    border-top: none;
    border-right: 2px solid #595956;
    border-bottom: 2px solid #595956;
    border-radius: 40px 0px 20px 40px;
  }
}

/* ========= FOOTER CONTAINERS ========== */

.about-section .footer1 {
  background-color: #d2e6d4;
}

.about-section .footer2 {
  background-color: #d2e6d4;
}


  /* ========= MOBILE (HEADER, BODY, FOOTER) ========== */

  @media screen and (max-width:719px) {
    .about-section .header2 {
      display: none;
    }
    .about-section .sidebar {
      display: none;
    }
    .tech-container-body {
      display: block;
    }

    .about-section .footer2 {
      display: none;
    }

    .about-section .header1 img {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      max-width: 160px;
      bottom: -35px;
      border-width: 8px;
    }

    .about-section .body {
      padding: 20px;
    }

    .about-section .summary {
      margin-top: 100px;
      font-size: 13pt;
      max-width: 500px;
    }

    .values-container-flex {
      max-width: 400px;
    }

    .flex-value-container {
      min-height: 110px;
    }

    #flex-title h3 {
      margin-bottom: 0;
      font-size: 20pt;
    }

  .values-container-flex h4 {
    font-size: 17pt;
  }

  .values-container-flex p {
    padding-left: 5px;
    font-size: 11.5pt;
  }

  @media screen and (max-width:330px) {
    .values-container-flex p {
      font-size: 10pt;
    }
  }

  .body .tech-container-body {
    margin: 40px auto 0 auto;
    max-width: 400px;
  }

