#about {
  /* height: calc(100vh - 70px); */
}

.about-section {
  display: grid;
  grid-template-rows: 150px;
  grid-template-columns: minmax(260px, 1fr) 3fr;
}

.about-section .header1 {
  background-color: olivedrab;
}


.header1 img {
  position: relative;
  bottom: -60px;
  max-width: 175px;
  margin: 0 auto 0 auto;
  border-radius: 50%;
  display: block;
  border: 5px solid white;
}

.about-section .header2 {
  background-color: olivedrab;
}

.about-section .sidebar {
  background-color: darkolivegreen;
  padding: 15px;
}

.sidebar .card-container {
  position: relative;
  left: -90px;
  bottom: -80px;
  background-color: rgb(241, 241, 241);
  height: 162px;
  width: 306px;
  transform: rotate(15deg);
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding: 15px;
}

.card-container:hover {
  box-shadow: 0 7px 14px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
}

.card-container .card-content {
  text-align: center;
  border: 4px double rgb(65, 65, 82);
  width: 97%;
  height: 94%;
  margin: auto auto;
}

.card-content h4 {
  margin: 0;
}

.sidebar .tech-container {
  margin-top: 120px;
}

.tech-list {
  list-style-type: none;
  font-size: 20pt;
  padding: 0;
  text-align: center;
}


.tech-list img {
  width: 100px;
  padding-bottom: 15px;
}

.tech-list img:nth-of-type(odd){
  padding-right: 10px;
}

.tech-list img:nth-of-type(even){
  padding-left: 10px;
}


.tech-list li:nth-last-of-type(1){
  padding-bottom: 0;
}


.about-section .body {
  padding: 15px;
  background-color: ghostwhite;
}

.about-section .body .summary {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.about-section .body .values-container {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;

}

.values-container .value-container {
  display: inline-block;
  width: 150px;
  height: 300px;
}

#value1 {
  background-color: skyblue;
}
#value2 {
  background-color: lightcoral;
}
#value3 {
  background-color: lightgreen
}
#value4 {
  background-color: gold;
}
