/* === CONTACT SECTION === */
#container-contact-section {
    clear: left;
    background: #252934;

}


@media screen and (min-width:861px) {
    #container-contact-section {
    padding-top: 100px;
    }
}

@media screen and (max-width:860px) {
    #container-contact-section {
    margin-top: -50px;
    }
}

#container-contact-section #container-h2 {
    padding: 0px 0px 50px 0px;
    text-align: center;
}

#container-contact-section h2 {
    margin-bottom: 10px;
}

#container-contact-section hr {
    width: 70px;
    border-top: thin solid white;
    display: inline-block;
}

#contact-container-paragraph {
    max-width: 300px;
    margin: 0 auto;
}

#contact-container-paragraph p {
    padding: 0px 0px 55px 0px;
    text-align: center;
    color: white;
}

#container-contact-section #contact-container-form {
    max-width: 470px;
    margin: 0 auto;
    padding: 0 0 235px 0;
}

#contact-container-form #successP {
    color: lightgreen;
    margin-bottom: 30px;
    padding: 0 0 10px 0;
    text-align: center;
    line-height: 6pt;
    font-size: 12pt;
}

#contact-container-form #successIcon {
    color: lightgreen;
    margin: 0;
    text-align: center;
    line-height: 12pt;
    font-size: 12pt;
}

#contact-container-form #failP {
    color: crimson;
    margin-bottom: 30px;
    text-align: center;
    line-height: 12pt;
    font-size: 12pt;
}

#contact-container-form #failIcon {
    color: crimson;
    margin: 0;
    text-align: center;
    line-height: 12pt;
    font-size: 12pt;
}

#contact-container-form p:nth-of-type(1) {
    color: crimson;
    text-align: left;
    margin: -19px 0px -14px 0px;
    padding-left: 25px;
    line-height: 10pt;
    font-size: 10pt;
}

#contact-container-form p:nth-of-type(2) {
    color: crimson;
    text-align: left;
    margin: -19px 0px -14px 0px;
    padding-left: 25px;
    line-height: 10pt;
    font-size: 10pt;
}

#contact-container-form p:nth-last-of-type(1) {
    color: crimson;
    margin: -4px 0px -0px 0px;
    padding-left: 25px;
    text-align: left;
    line-height: 10pt;
    font-size: 10pt;
}

#container-contact-section input {
    width: 90%;
    height: 35px;
    margin: 20px auto;
    display: block;
    font-size: 12pt;
    color: white;
    padding: 10px 15px 10px 15px;
    background-color: #1E242C;
    border: none;
}

#container-contact-section .errorInputBorder {
    box-shadow: inset 0 0 0.5em crimson;
}

#container-contact-section input:focus {outline:0 !important;}

#container-contact-section textarea {
    width: 90%;
    height: 150px;
    margin: 20px auto 5px auto;
    padding: 10px 15px 10px 15px;
    background-color: #1E242C;
    border: none;
    display: block;
    font-size: 12pt;
}

#container-contact-section textarea:focus {outline:0 !important;}

#container-contact-section, select, textarea {
    color: #ffffff;
}

#container-contact-section button {
    height: 35px;
    background-color: transparent;
    margin: 0 5% 0 0;
    padding: 10px 30px;
    font-size: 12pt;
    line-height: 8px;
    text-transform: uppercase;
    color: white;
    transition: background-color 0.5s ease;
    border: 1px solid white;
}

#container-contact-section button:hover {
    background-color: steelblue;
}