/* === CONTACT SECTION === */
#container-contact-section {
    padding: 0;
    background: #252934;
    height: 700px;
}

#container-contact-section #container-h2 {
    padding: 75px 0px 50px 0px;
}

#container-contact-section h2 {
    text-align: center;
    margin: 0;
}

#container-contact-section hr {
    width: 70px;
}

#contact-container-paragraph {
    max-width: 300px;
    margin: 0 auto;
}

#contact-container-paragraph p {
    padding: 0px 0px 55px 0px;
    text-align: center;
    color: white;
}

#container-contact-section #contact-container-form {
    max-width: 470px;
    margin: 0% auto;
}

#contact-container-form p:nth-of-type(1) {
    color: lightgreen;
    margin: 0;
    padding: 0 0 5px 0;
    text-align: center;
    line-height: 6pt;
    font-size: 11pt;
}

#contact-container-form p:nth-of-type(n+2) {
    color: crimson;
    margin: 6px 0px 2px 0px;
    padding: 0;
    text-align: center;
    line-height: 6pt;
    font-size: 10pt;
}

#container-contact-section input {
    width: 90%;
    height: 35px;
    margin: 3px auto;
    display: block;
    font-size: 12pt;
    padding: 10px 15px 10px 15px;
    background-color: #1E242C;
    border: none;
}

#container-contact-section .errorInputBorder {
    border: 1px solid crimson;
}

#container-contact-section input:focus {outline:0 !important;}

#container-contact-section textarea {
    width: 90%;
    height: 140px;
    margin: 3px auto;
    padding: 10px 15px 10px 15px;
    background-color: #1E242C;
    border: none;
    display: block;
    font-size: 12pt;
}

#container-contact-section textarea:focus {outline:0 !important;}

#container-contact-section, select, textarea {
    color: #ffffff;
}

#container-contact-section button {
    height: 35px;
    background-color: transparent;
    margin: 1px 5% 1px 0px;
    padding: 10px 30px;
    font-size: 12pt;
    line-height: 8px;
    text-transform: uppercase;
    color: white;
    transition: background-color 0.5s ease;
    border: 1px solid white;
}

#container-contact-section button:hover {
    background-color: steelblue;
}