/* === CONTACT SECTION === */
.contact-section {
    position: relative;
    clear: left;
    padding-top: 75px;
}

.contact-section #container-h2 {
    position: relative;
    margin: 50px 20px 35px 20px;
    text-align: center;
}

.contact-section h2 {
    display: inline-block;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
    font-size: 28pt;
    letter-spacing: 3px;
    animation:  5s ease both;
    margin: 0 15px 0 15px;
}

.contact-section hr {
    width: 20%;
    border: none;
    display: inline-block;
    height: 2px;
    background-color: black;
}

@media screen and (max-width:385px) {
    .contact-section hr {
        width: 14%;
    }
}

#paragraph-container {
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}

#paragraph-container p {
    padding: 0px 0px 30px 0px;
    text-align: center;
    color: black;
    font-size: 14pt;
    font-weight: 400;
    margin: 0;
}

#contact-form-container {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 0 240px 0;
}

@media screen and (max-width:719px) {
    #contact-form-container {
        padding: 0 0 100px 0;
    }
}

#successP {
    color: green;
    margin-bottom: 30px;
    padding: 0 0 10px 0;
    text-align: center;
    line-height: 12pt;
    font-size: 12pt;
}

#successIcon {
    color: green;
    margin: 0;
    text-align: center;
    line-height: 12pt;
    font-size: 14pt;
    margin-right: 5px;
}

#failP {
    color: crimson;
    margin-bottom: 30px;
    text-align: center;
    line-height: 12pt;
    font-size: 12pt;
}

#failIcon {
    color: crimson;
    margin: 0;
    text-align: center;
    line-height: 12pt;
    font-size: 14pt;
    margin-right: 5px;
}

#contact-form-container p:nth-of-type(1) {
    color: crimson;
    text-align: left;
    margin: -18px 0px -14px 0px;
    padding-left: 30px;
    line-height: 10pt;
    font-size: 10pt;
}

#contact-form-container p:nth-of-type(2) {
    color: crimson;
    text-align: left;
    margin: -18px 0px -14px 0px;
    padding-left: 30px;
    line-height: 10pt;
    font-size: 10pt;
}

#contact-form-container p:nth-last-of-type(1) {
    color: crimson;
    margin: -2px 0px -0px 0px;
    padding-left: 30px;
    text-align: left;
    line-height: 0pt;
    font-size: 10pt;
}

.contact-section input {
    width: 90%;
    height: 25px;
    margin: 20px auto 20px auto;
    display: block;
    font-size: 12pt;
    color: black;
    padding: 10px;
    background-image: url("../backgrounds/paper_fibers.png");
    border-style: none;
    border-bottom: 1px solid black;
    outline: 0;
    font-family: 'Roboto Slab', serif;
}

.contact-section .inputErrorBorder {
    box-shadow: inset 0 0 0.5em red;
}

.contact-section input:focus {outline:0 !important;}

.contact-section textarea {
    width: 90%;
    height: 150px;
    margin: 20px auto 10px auto;
    padding: 10px;
    background-image: url("../backgrounds/paper_fibers.png");
    border: 1px solid black;
    display: block;
    font-size: 12pt;
    font-family: 'Roboto Slab', serif;
}

.contact-section textarea:focus {outline:0 !important;}

.contact-section, select, textarea {
    color: black;
}

.contact-section button {
    height: 34px;
    background-color: #5A90BF;
    margin: 0 5% 0 0;
    padding: 10px 30px;
    font-size: 12pt;
    font-weight: 400;
    line-height: 8px;
    color: #FFFFFF;
    transition: background-color 0.5s ease;
    border: 1px solid black;
}

.contact-section button:hover {
    background-color: #91CCFF;
}


/* ============== ADDED IMAGES ============== */

@media screen and (min-width:960px) {
    .binder-clips img {
        width: 230;
        position: absolute;
        left: -27;
        transform: rotate(91deg);
    }
    .binder-clips img:nth-of-type(1) {
        bottom: 350;
    }
    .binder-clips img:nth-of-type(2) {
        bottom: 225;
    }
    .binder-clips img:nth-of-type(3) {
        bottom: 80;
    }
 
    .binder-clips a {
        position: absolute;
        left: 1;
        font-size: 40px;
        color: #5A90BF;
        transition: color 0.5s ease;
        z-index: 1;
    }
    .binder-clips a:hover {
        color: #91CCFF;
    }
    .binder-clips a:nth-of-type(1){
        bottom: 447;
    }
    .binder-clips a:nth-of-type(2){
        bottom: 320;
    }
    .binder-clips a:nth-of-type(3){
        bottom: 177;
    }
}

@media screen and (max-width:960px) {
    .binder-clips {
        position: absolute;
        bottom: -5;
        left: 50%;
        width: 450px;
        margin-left: -225px;
    }
    
    .binder-clips img {
        width: 200px;
        position: absolute;
        bottom: -18px !important;
        left: 0;
        transform: rotate(1deg);
    }
    .binder-clips img:nth-of-type(1) {
        left: 0;
    }
    .binder-clips img:nth-of-type(2) {
        left: 120;
    }
    .binder-clips img:nth-of-type(3) {
        left: 260;
    }
    
    .binder-clips a {
        position: absolute;
        left: 0;
        bottom: 3;
        font-size: 35px;
        color: #5A90BF;
        transition: color 0.5s ease;
        z-index: 1;
    }
    .binder-clips a:hover {
        color: #91CCFF;
    }
    .binder-clips a:nth-of-type(1){
        left: 82;
        bottom: 4 !important;
    }
    .binder-clips a:nth-of-type(2){
        left: 205;
        bottom: 3 !important;
    }
    .binder-clips a:nth-of-type(3){
        left: 344;
        bottom: 4 !important;
    }
}

.footer-icons {
    display: none;
}

@media screen and (max-width:719px) {
    .binder-clips img {
        display: none;
    }
    .binder-clips a {
        display: none;
    }

    .footer-icons {
        display: block;
        margin: 0 auto;
        padding-bottom: 50px;
        text-align: center;
    }

    .footer-icons a {
        background: #5A90BF;
        margin: 0px 5px;
        padding: 15px 10px;
        display: inline-block;
        font-size: 30px;
        color: whitesmoke;
        width: 40px;
        text-align: center;
        transition: background-color 0.5s ease;
        border: 1px solid black;
        border-radius: 8px;
    }

    .footer-icons a:hover {
        background-color: #91CCFF;
    }
}


#envelope {
    position: absolute;
    top: 200px;
    right: -285px;
    z-index: -1;
    transform: rotate(50deg);
    box-shadow: 2px 1px 1px rgba(0,0,0,0.2), 2px 2px 2px rgba(0,0,0,0.34);
}

@media screen and (max-width:1500px) {
    #envelope {
        display: none;
    } 
}


#usb-drive-container {
    position: absolute;
    left: 5%;
    bottom: -10;
    width: 240;
    height: 74px;
    transform: rotate(-5deg);
}

@media screen and (max-width:960px) {
    #usb-drive-container {
        left: 5%;
        margin-left: 0px;
        bottom: -105;
        transform: rotate(-5deg);
    }
}

@media screen and (max-width:719px) {
    #usb-drive-container {
        display: none;
    }
}

#usb-flash-drive {
    position: absolute;
    width: 2.5in;
    z-index: 2;
}

#resume-download {
    position: absolute;
    right: 11;
    bottom: 18;
    z-index: 4;
    font-size: 36px;
    color: #7caa80;
    transition: color .30s ease-in-out;
}

#usb-drive-container:hover #resume-download {
    color: rgb(90, 236, 90);
}

#usb-light {
    position: absolute;
    bottom: 32;
    right: 81;
    border-radius: 100px;
    background-color: darkred;
    width: 5px;
    height: 5px;
    z-index: 5;
    padding:1px;
    transition: background-color .25s ease-in-out;
    transition: box-shadow .25s ease-in-out;

}

#usb-drive-container:hover #usb-light {
    background-color: red;
    box-shadow: 0 00 5px 2px red;
}

#usb-flash-drive-shadow1 {
    position: absolute;
    bottom: 5;
    right: 2;
    width: 193px;
    height: 62px;
    box-shadow: -4px 6px 8px 2px rgba(0, 0, 0, 0.6);
    z-index: 1;
}

#usb-flash-drive-shadow2 {
    position: absolute;
    bottom: 17;
    left: 0;
    width: 45px;
    height: 40px;
    box-shadow: -4px 6px 8px rgba(0, 0, 0, 0.6);
    z-index: 1;

}