#landing {
    height: calc(100vh - 360px);
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../backgrounds/paper_fibers.png");
    padding-left: 8vw;
    padding-right: 8vw;
    padding-top: 90px;
    padding-bottom: 0px;
    position: relative;
}

#landing-grid {
    width: calc(100%);
    height: calc(100%);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
}


@media screen and (max-width:719px) {
    #landing {
        height: calc(100vh - 220px);
        padding-top: 50px;

    }
}

#landing a {
    position: absolute;
    bottom: 0;
    margin-bottom: -8vh;
    z-index: 2;
}

@media screen and (max-width:719px) {
    #landing a {
        margin-bottom: -60px;

    }
}

#home-anchor {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -200px;
}