/* Temporary. Need to fix */
.binder-clips {
    display: none; 
}

#envelope {
    display: none;
}

#landing {
    height: calc(100vh - 130px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing-grid {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    grid-gap: 5px;
}



@media screen and (max-width:719px) {
    #landing {
        height: calc(100vh - 70px);
    }
}