/* GENERAL */
* {
    /* margin: 0; */
    font-family: 'Raleway', sans-serif;
}

.main-wrapper {
    width: 80vw;
    margin: 0 auto;
}

 /* === UNIVERSAL CLASSES === */
.float-left {
    float: left;
}

.float-right {
    float: right;
}



 








