/* GENERAL */
* {
    font-family: 'Raleway', sans-serif;
}

body{
    z-index: -10;
}

a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}

.main-wrapper {
    width: 80vw;
    margin: 0 auto;
}

 /* === UNIVERSAL CLASSES === */
.float-left {
    float: left;
}

.float-right {
    float: right;
}

.display {
    display: block;
}

.no-display {
    display: none;
}
