/* GENERAL */
* {
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}

html {
    overflow-x: hidden;
}

body {
    z-index: -10;
    background-image: url("../backgrounds/grey_wash_wall.png");
    margin: 0;
    overflow-x: hidden;
}

h2 {
    margin: 0;
}

.paper {
    margin-top: 130px;
    margin-bottom: 130px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: #fff;
}

a:hover, a:visited, a:active, a:link {
    text-decoration: none;
}

.main-wrapper {
    width: 80vw;
    margin: auto;
    max-width: 1200px;
    z-index: -1;
}

@media screen and (max-width:1023px) {
    .main-wrapper {
        width: 90vw;
        margin: auto;
    }
}
@media screen and (max-width:719px) {
    .main-wrapper {
        width: 100vw;
    }
}

 /* === UNIVERSAL CLASSES === */

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.display {
    display: block;
}

.no-display {
    display: none;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.height-zero {
    height: 0;
  }

.red-border {
    border: 1px dotted red;
}

.orange-border {
    border: 1px dotted orange;
}

