#nav-mobile-menu-container {
  height: calc(100vh - 70px);
  width: 100%;
  position: fixed;
  top: 70px;
  left: 0;
  z-index: 3;
}

#nav-mobile-menu-list {
width: 100%;
height: 100%;
padding: 0;
margin-top: 0px;
}

#nav-mobile-menu-list li div {
  width:100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #FFF;
  opacity: 1;
  background-image: url(../backgrounds/paper_fibers.png);
  font-size:24pt;
  font-weight: 700;
  font-family: 'Raleway', sans-serif;
  color: rgb(89, 89, 86);
  transition: background-color ease .25s;
} 

#nav-mobile-menu-list li div:hover {
  background-color: rgba(111, 184, 255, 1);
  border: 1px solid black;
} 
