/* NAVBAR */
nav {
    width: 100%;
    height: 70px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    border-bottom: 1px solid rgb(89, 89, 86);;
}

.nav-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    box-sizing: border-box;
    padding: 5px;
    border: 2px solid rgb(89, 89, 86);;
    border-radius: 40px;
    color: rgba(111, 184, 255, 1);
    font-weight: 700;
    font-size: 32pt;
}

.nav-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-content ul li {
    display: inline;
    padding: 5px .5em;
}

.nav-content ul li:last-of-type {
    display: inline;
    padding: 5px 0px 5px .5em;
}

.nav-content ul li a {
    color: rgb(89, 89, 86);;
    font-family: 'Raleway', sans-serif;
    font-size: 16pt;
    font-weight: 600;
    transition: color .25s ease;
}

.nav-content ul li a:hover {
    color:  rgba(111, 184, 255, 1);
}

.active {
    color: rgba(111, 184, 255, 1) !important;
    font-weight: 700 !important;
}

#hamburger {
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 719px) {
    #hamburger {
        display: block;
    }

    .nav-content ul {
        display: none;
    }

    .nav-content {
        width: 80%;
    }
}

@media screen and (min-width: 720px) {
    #nav-mobile-menu-container {
        display: none;
    }
}





