.project-section {
  display: flex;
  flex-direction: column;
  background-image: url("../backgrounds/paper_fibers.png");
  padding: 80px 40px 40px 40px;
}

.project-section .title-container {
  padding: 0px 0px 50px 0px;
  text-align: center;
}

.project-section .title-container h2 {
  margin-bottom: 10px;
}

.project-section .title-container hr {
  width: 70px;
  border-top: thin solid black;
  display: inline-block;
}


    .project-section .gallery-box {
      display: flex;
      margin: 0 auto;
      flex-flow: row;
      justify-content: center;
      max-width: 1300px;
      padding: 0;
    }    

    .project-section .project-box {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      transition: opacity .35s ease-in-out;
      cursor: pointer;
      flex-basis: 30%;
      border: 6px solid #b1cbb3;
      border-radius: 15px;
      background-color: #d2e6d4;
      padding: 10px;
    }

    #project-box1 {
      margin-right: 12px;
    }
    #project-box2 {
      margin-left: 10px;
      margin-right: 10px;
    }
    #project-box3 {
      margin-left: 12px;
    }

@media screen and (max-width:719px) {
  .project-section {
    padding: 80px 20px 20px 20px;
  }
  
  .project-section .gallery-box {
      display: flex;
      margin: 0 auto;
      flex-flow: column;
      align-items: center;
      max-width: 350px;
    }

    .project-section .project-box {
      display: flex;
      flex-flow: column;
      align-items: flex-start;
      justify-content: flex-start;
      transition: opacity .35s ease-in-out;
      cursor: pointer;
      margin-bottom: 40px;
      border: 6px solid #b1cbb3;
      padding: 10px;
      border-radius: 15px;
      background-color: #d2e6d4;
    }

    .project-section .project-box p:nth-of-type(2){
      font-size: 11px;
    }


}

.project-box img {
  box-sizing: border-box;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  max-height: 450px;
  border: 2px solid #b1cbb3;
  border-radius: 8px;
}

.project-box h3 {
  margin: 10px 0 5px 0;
  transition: color .35s ease-in-out;
  font-weight: 400;
}

.project-box hr {
  margin: 0;
  width: 100px;
  border-top: thin solid black;
}

.project-box p:nth-of-type(1) {
  font-weight: 400;
  margin-top: 0;
  font-size: 11px;
}

.project-box p:nth-of-type(2) {
  font-weight: 300;
}

/* The Modal (background) */
.project-section .modal {
    display: none; /* Hidden by default */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 80px;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: white; /* Fallback color */
    background-color: rgba(0, 0, 0, 0.473); /* Black w/ opacity */
  }
  
  /* Modal Box (content) */
  .project-section .modal-content {
    background-color: whitesmoke;
    margin: 50px auto;
    border: 1px solid black;
    width: 90%; /* Could be more or less, depending on screen size */
    max-width: 600px;
    transition: all .5s;
  }

  .modal-content img{
    width: 100%;
    border-bottom: 6px solid #b1cbb3;
  }

  /* Title and meta infor in bottom half of modal box */
  .modal-content .modal-meta-info {
    flex-direction: column;
    padding: 10px 25px 25px 25px;
  }

  .modal-meta-info h2 {
    margin: 0;
  }

  .modal-meta-info h4 {
    margin: 5px 0;
  }

  .modal-meta-info hr {
      height: 1px;
      color: black;
      background-color: lightgrey;
      margin: 10px 0 15px 0;
  }

  .modal-meta-info p {
      margin: 10px 0 20px 0;
  }

  .modal-meta-info a {
    display: inline-block;
    height: 20px;
    width: 120px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    background-color: #d2e6d4;
    border: 3px solid #b1cbb3;
    font-size: 12pt;
    text-transform: uppercase;
    color: black;
    font-weight: 400;
    transition: background-color 0.5s ease;
  }

  .modal-meta-info a:hover {
    color: black;
    background-color: #e0f5e2;
  }

 .modal-meta-info a i {
   margin-left: 12px;
   font-size: 13pt;
   transition: transform 0.5s linear;
  }

  /* The Close Buttons */
  .modal-meta-info .close {
    display: inline-block;
    float: right;
    font-size: 25px;
    margin-top: 17px;
    opacity: .5;
    transition: opacity 0.5s ease;

  }
  
  .modal-meta-info .close:hover,
  .modal-meta-info .close:focus {
    opacity: 1;
    text-decoration: none;
    cursor: pointer;
  }
